:root {
/* colour variables */
  --dodo: #93827F;
  --golden: #F3F9D2;
  --vanilla: #BDC4A7;
  --jet: #2F2F2F;
  --cadet: #92B4A7;
  --forest: rgb(9, 100, 76);
/* spacing variables: golden ratio */
  --space-xs: 0.382rem;
  --space-s: 0.618rem;
  --space-m: 1rem;
  --space-l: 1.618rem;
  --space-xl: 2.618rem;
  --space-xxl: 4.236rem;
/* Fonts */
  font-family: 'McLaren', cursive;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--cadet);
  /* padding: var(--space-l); */
}

main {
  padding: var(--space-l);
}

/* Dodo Logo */

.dodologo-container {
  position: relative;

}

.dodologo {
  width: 7rem;
  position: absolute;
  right: var(--space-m);
  top: var(--space-m);

  animation-name: wobble;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

@keyframes wobble {
  0% { transform: rotate(0deg)}
 10% { transform: rotate(-10deg)}
 20% { transform: rotate(12deg)}
 40% { transform: rotate(9deg)}
 70% { transform: rotate(15deg)}
100% { transform: rotate(0deg)}
}

/* Scale up slightly on hover */
.CLASS:hover {
  transform: scale(1.3) ;
  transition: transform 0.3s ease-in-out;
}

/* Typography */

h1 {
  color: var(--golden);
  font-size: var(--space-xl);

}

h2 {
  color: var(--vanilla);
  font-size: var(--space-l);

}

h3 {

}

a {
  color: var(--golden);
}

a:hover {
  color: white;
}

li {
  list-style: none;
}

/* Header and Footer */

.header, .footer {
  background-color: var(--jet);
  padding: var(--space-l);
}

.footer {
  position : absolute;
  bottom : 0;
  width: 100vw;
}

.footer > p {
  color: var(--vanilla);
  font-size: var(--space-s);
}

/* Todo list items */

.todo-list__description {
  font-size: var(--space-l);
}

/* Input Box */

.input-box {
  border-radius: var(--space-xl);
  min-width: 50vw;
  height: var(--space-xl);
  margin-left: 0rem;
  padding: var(--space-s);
  font-size: var(--space-l);
  color: var(--forest);
}

/* Buttons */

.add-button {
  color: white;
  background-color: var(--jet);
  border-radius: var(--space-xl);
  margin-left: var(--space-xs);
}

.todo-list__mark {
  color: white;
  background-color: var(--forest);
  border-radius: var(--space-xl);
  margin-left: var(--space-xs);
  width: var(--space-xl);
  height: var(--space-l);
}

.todo-list__delete {
  color: white;
  background-color: var(--dodo);
  border-radius: var(--space-xl);
  margin-left: var(--space-xs);
  width: var(--space-xl);
  height: var(--space-l);
}

/* Media Queries Tablet & Desktop */

@media (min-width: 768px) {

  .dodologo {
    width: 10.5rem;
    right: var(--space-l);
    top: var(--space-l);
  }

  .footer > p {
    font-size: var(--space-m);
  }
}

.input-box {
  min-width: 70vw;
}

