:root {
  /* colour variables */
  --dodo: #93827f;
  --golden: #f3f9d2;
  --vanilla: #bdc4a7;
  --jet: #2f2f2f;
  --cadet: #92b4a7;
  --forest: rgb(9, 100, 76);
  /* spacing variables: golden ratio */
  --space-xs: 0.382rem;
  --space-s: 0.618rem;
  --space-m: 1rem;
  --space-l: 1.618rem;
  --space-xl: 2.618rem;
  --space-xxl: 4.236rem;
  /* Fonts */
  font-family: "McLaren", cursive;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--cadet);
  box-sizing: border-box;
  position: relative;
  /* padding: var(--space-l); */
}

main {
  padding: var(--space-l);
}

/* Dodo Logo */

.dodologo-container {
  position: relative;
}

.dodologo {
  width: 7rem;
  position: absolute;
  right: var(--space-s);
  top: var(--space-l);

  animation-name: wobble;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  transform-origin: bottom;
  display: inline-block;
}

/* doesn't work, requires a setTimeout function in dom.js file
/* .dodologo--completed {
  transform: rotate(360deg);
  transition: background 1s, transform 0.3s;

}

.dodologo-container--completed {
  transition: background 1s, transform 0.3s;
} */

@keyframes wobble {
  0% {
    transform: translate(0, -10px);
  }
  10% {
    transform: translate(0, -20px);
  }
  20% {
    transform: translate(0, -10px);
  }
  30% {
    transform: translate(0, -20px);
  }
  40% {
    transform: translate(0, -10px);
  }
  50% {
    transform: translate(0, 20px);
  }
  60% {
    transform: translate(0, -10px);
  }
  70% {
    transform: translate(0, -20px);
  }
  80% {
    transform: translate(0, -10px);
  }
  90% {
    transform: translate(0, -20px);
  }
  100% {
    transform: translate(0, -10px);
  }
}

/* Scale up slightly on hover */
.CLASS:hover {
  transform: scale(1.3);
  transition: transform 0.3s ease-in-out;
}

/* Typography */

h1 {
  color: var(--golden);
  font-size: var(--space-xl);
}

h2 {
  color: var(--vanilla);
  font-size: var(--space-m);
}

h3 {
}

a {
  color: var(--golden);
}

a:hover {
  color: white;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

/* Header and Footer */

.header,
.footer {
  background-color: var(--jet);
  padding: var(--space-l);
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100vw;
}

.footer > p {
  color: var(--vanilla);
  font-size: var(--space-s);
}

/* Form and input box */

.add-todo-form {
  display: flex;
  flex: row nowrap;
  justify-content: left;
  align-items: flex-start;
}

.input-box {
  border-radius: var(--space-xl);
  max-width: 25vw;
  height: var(--space-xl);
  margin-left: 0rem;
  padding: var(--space-s);
  font-size: var(--space-l);
  color: var(--forest);
}

/* Todo list items */

.todo-list__item {
  font-size: var(--space-m);
  margin-bottom: var(--space-m);
  /* color: var(--vanilla); */
}

.todo-list__item:hover {
  transform: translate(0.2rem);
  transition: transform 0.2s ease-in-out;
  /* color: var(--vanilla); */
}

.todo-list__description {
  font-size: var(--space-m);
}

.todo-list__item--completed {
}

.todo-list__description--completed {
  text-decoration: line-through;
}

/* Buttons */

.add-button {
  color: white;
  background-color: var(--jet);
  border-radius: var(--space-xl);
  margin-left: var(--space-xs);
  height: 2.9rem;
}

.add-button:hover {
  background-color: var(--forest);
  transform: scale(1.01);
  transition: transform 0.3s ease-in-out;
}

.todo-list__mark {
  color: white;
  background-color: var(--jet);
  border-radius: var(--space-xl);
  margin-left: var(--space-xs);
  width: var(--space-xl);
  height: var(--space-l);
}

.todo-list__mark:hover {
  background-color: var(--forest);
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

.todo-list__mark:visited {
  background-color: var(--dodo);
}

.todo-list__mark--completed {
  font-weight: bolder;
}

.todo-list__delete {
  color: white;
  background-color: var(--dodo);
  border-radius: var(--space-xl);
  margin-left: var(--space-xs);
  width: var(--space-xl);
  height: var(--space-l);
}

.todo-list__delete:hover {
  background-color: var(--jet);
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

.todo-list__delete--completed {
}

/* Media Queries Tablet & Desktop */

@media (min-width: 768px) {
  .dodologo {
    width: 15rem;
    right: var(--space-l);
    top: var(--space-l);
  }

  h1 {
    font-size: var(--space-xxl);
  }

  h2 {
    font-size: var(--space-l);
  }

  .todo-list__item {
    font-size: var(--space-m);
  }

  .footer > p {
    font-size: var(--space-m);
  }

  .todo-list__description {
    font-size: var(--space-l);
  }
}

.input-box {
  min-width: 70vw;
}
